<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Simple Spring Boot Web Application</title>
</head>
<body>
    <p th:text="'Welcome ' + ${user} + '!'"> </p>
</body>
</html>